body {
  padding: 15px;
  background-color: #010c15;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

.box-container {
  border-radius: 8px;
  border: solid 1px #1e2d3d;
  background-color: #011627;
  min-height: calc(100vh - 30px);
}
