html,
body {
  font-family: "Figtree", sans-serif;
  /* background: url(../images/bg.png) no-repeat center center fixed; */
  -webkit-background-size: cover;
  background-color: #0a1929;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
