html,
body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #ffffff;
  color: #3a3a3c;
  min-width: 375px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
